# =========================
# Global ignores
# =========================

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env
.env.*

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
processium/
ENV/

# Node
node_modules/

# Build folders
dist/
build/

# Coverage
coverage/

# Testing
.pytest_cache/

# SQLite
db.sqlite3

# IDE
.idea/

# Misc
*.swp