# Virtual Environment
venv/
env/
processium/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Django stuff
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Logs
*.log

# Pytest
.pytest_cache/

# VSCode
.vscode/

# Test files (not to be pushed)
users/tests/
authentication/tests.py
templates/tests.py
components/tests.py
utils/tests/

# Log files
logs/

# Migrations
*/migrations/
utils/tests/